@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Mulish-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Mulish-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Mulish-Bold.ttf") format("truetype");
}
