@import 'colors.modules';

body {
  background: $background-color;
  margin: auto;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  height: 220px;
}

.pagination-bar {
  display: flex;
  justify-content: center;
  margin-top: 0.8em;
}

.item-page-card {
  max-width: 35%;
  min-width: 400px;
  margin: 2em auto auto;
  padding: 1em;
}
