@import 'colors.modules';

body {
  background: $background-color;
}

.card-button {
  margin-left: auto
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  height: 190px;
}

.pagination-bar {
  display: flex;
  justify-content: center;
  margin: 0.8em;
}
