@import 'colors.modules';

body {
  background: $background-color;
  margin: 0;
  padding: 0;
}
a, a:hover {
  text-decoration: none;
  color: inherit;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  height: 220px;
}

.item-page-card {
  max-width: 45%;
  min-width: 400px;
  margin: 2em auto auto;
  padding: 1em;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 3em;
  background-color: white;
  width: 30%;
  min-width: 450px;
  margin: auto;
  border-radius: 10px 10px 0 0;
  border-bottom: 2px solid $primarySoft;
}
